name: CI (Check PR)
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install modules
        run: npm install
      - name: Run formatter
        run: npx prettier --check **/*.js **/*.ts
      - name: Run linter
        run: npx eslint .
